
.ipynb_checkpoints/00 - intro-checkpoint.ipynb
.ipynb_checkpoints/01 - basic-checkpoint.ipynb
.ipynb_checkpoints/02 - numpy-checkpoint.ipynb
.ipynb_checkpoints/03 - pandas-checkpoint.ipynb
.ipynb_checkpoints/04 - plotting-checkpoint.ipynb
.ipynb_checkpoints/05 - ml-checkpoint.ipynb
.ipynb_checkpoints/06 - studi kasus-checkpoint.ipynb
